@media screen and (max-width:992px) {

    .navber {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin: 20px 0;
        gap: 15px;
    }
   
     

    .hero-container {
        display: flex;
        gap: 50px;
        flex-direction: column-reverse;
    }

    .gamer-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gamer-item {
        text-align: center;
    }

    .gamer-item img {
        max-width: 500px;
    }

    .career-container {
        flex-wrap: wrap;
    }

    .careers {
        padding: 10vw;
    }

    .career-item {
        width: 100%
    }

    .career-list-2 {
        text-align: left;
    }

    .footer-container {
        width: 70%;
    }

    .footer-container ul {
        flex-wrap: wrap;
    }

    /* .instant-content {
        order: 1;
    } */
    .game-overview-container {
        flex-direction: column;
      }
      
      
      .game-overview-item:first-child {
        width: 50vw;
        text-align: center;
        margin-bottom: 20px;
      }
      .game-overview-item:last-child {
        flex-basis: 50%;
      }

}

@media screen and (max-width:576px) {
    .hero{
        background-position: bottom center;
        background-size: 500px 350px;
    }
    .gamer-item img {
        max-width: 320px;
        
    }

    .career-list {
        flex-direction: column;
    }

    .instantly {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .instant-text h2 { 
        text-shadow:1px 1px 5px #00000076;
    }
    .instant-img {
        width: 100%;
    }

    .video-heading h2 {
        font-size: 20px;
    }

    .video-heading p {
        margin-top: 10px;
        font-size: 12px;
    }
    .games-main{
        margin: 10px;
        width: 95%;
    }
    .game-item {
        width: 150px;
        padding: 0;
    }
    .game-item img {
        width: 30px;
        margin-right: 5px;
    }
    
    .game-item a {
        font-size: 10px;
        margin-left: 5px;
    }
    .overview-title {
        font-size: 2rem;
      }
      .game-overview-thumb .img-large { 
        width: 200px;
        height: 250px;
      }
      .img-small {
        max-width: 25%; 
        bottom: 10%;
        left: 20%;
      }
      .game-overview-thumb {
        padding: 0px 0 45px 75px;
    }
      
}